{% block postfinancecheckout_order_detail %}
<div class="postfinancecheckout-order-detail">
	<div v-if="!isLoading">
		<sw-card :title="$tc('postfinancecheckout-order.paymentDetails.cardTitle')">
			<template #grid>
				{% block postfinancecheckout_order_actions_section %}
				<sw-card-section secondary slim>
					{% block postfinancecheckout_order_transaction_refunds_action_button %}
					<sw-button
							variant="primary"
							size="small"
							:disabled="transaction.state != 'FULFILL'"
							@click="spawnModal('refund')">
						{{ $tc('postfinancecheckout-order.buttons.label.refund') }}
					</sw-button>
					{% endblock %}
					{% block postfinancecheckout_order_transaction_completion_action_button %}
					<sw-button
							variant="primary"
							size="small"
							:disabled="transaction.state != 'AUTHORIZED'"
							@click="spawnModal('completion')">
						{{ $tc('postfinancecheckout-order.buttons.label.completion') }}
					</sw-button>
					{% endblock %}
					{% block postfinancecheckout_order_transaction_void_action_button %}
					<sw-button
							variant="primary"
							size="small"
							:disabled="transaction.state != 'AUTHORIZED'"
							@click="spawnModal('void')">
						{{ $tc('postfinancecheckout-order.buttons.label.void') }}
					</sw-button>
					{% endblock %}
					{% block postfinancecheckout_order_transaction_download_invoice_action_button %}
					<sw-button
							variant="primary"
							size="small"
							@click="downloadInvoice()">
						{{ $tc('postfinancecheckout-order.buttons.label.download-invoice') }}
					</sw-button>
					{% endblock %}
					{% block postfinancecheckout_order_transaction_download_packing_slip_action_button %}
					<sw-button
							variant="primary"
							size="small"
							@click="downloadPackingSlip()">
						{{ $tc('postfinancecheckout-order.buttons.label.download-packing-slip') }}
					</sw-button>
					{% endblock %}
				</sw-card-section>
				{% endblock %}
			</template>
		</sw-card>
		{% block postfinancecheckout_order_transaction_history_card %}
		<sw-card :title="$tc('postfinancecheckout-order.transactionHistory.cardTitle')">
			<template #grid>

				{% block postfinancecheckout_order_transaction_history_grid %}
				<sw-data-grid :dataSource="transactionData.transactions"
							  :columns="relatedResourceColumns"
							  :showActions="false"
							  :showSelection="false">
				</sw-data-grid>
				{% endblock %}
			</template>

		</sw-card>
		{% endblock %}
		{% block postfinancecheckout_order_transaction_line_items_card %}
		<sw-card :title="$tc('postfinancecheckout-order.lineItem.cardTitle')">
			<template #grid>

				{% block postfinancecheckout_order_transaction_line_items_grid %}
				<sw-data-grid
						:dataSource="lineItems"
						:columns="lineItemColumns"
						:showActions="false"
						:showSelection="false">
				</sw-data-grid>
				{% endblock %}
			</template>
		</sw-card>
		{% endblock %}
		{% block postfinancecheckout_order_transaction_refunds_card %}
		<sw-card :title="$tc('postfinancecheckout-order.refund.cardTitle')" v-if="transactionData.refunds.length > 0">
			<template #grid>

				{% block postfinancecheckout_order_transaction_refunds_grid %}
				<sw-data-grid
						:dataSource="transactionData.refunds"
						:columns="refundColumns"
						:showActions="false"
						:showSelection="false">
				</sw-data-grid>
				{% endblock %}
			</template>

		</sw-card>
		{% endblock %}
		{% block postfinancecheckout_order_actions_modal_refund %}
		<postfinancecheckout-order-action-refund
				v-if="modalType === 'refund'"
				:orderId="orderId"
				:transactionData="transactionData"
				:lineItems="lineItems"
				@modal-close="closeModal">
		</postfinancecheckout-order-action-refund>
		{% endblock %}
		{% block postfinancecheckout_order_actions_modal_completion%}
		<postfinancecheckout-order-action-completion
				v-if="modalType === 'completion'"
				:orderId="orderId"
				:transactionData="transactionData"
				:lineItems="lineItems"
				@modal-close="closeModal">
		</postfinancecheckout-order-action-completion>
		{% endblock %}
		{% block postfinancecheckout_order_actions_modal_void %}
		<postfinancecheckout-order-action-void
				v-if="modalType === 'void'"
				:orderId="orderId"
				:transactionData="transactionData"
				:lineItems="lineItems"
				@modal-close="closeModal">
		</postfinancecheckout-order-action-void>
		{% endblock %}
	</div>
	<sw-loader v-if="isLoading"></sw-loader>
</div>
{% endblock %}
