{% block postfinancecheckout_settings_icon %}
    <span class="sw-icon icon--postfinancecheckout-multicolor sw-icon--multicolor">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" contentScriptType="text/ecmascript" width="1000px" zoomAndPan="magnify" contentStyleType="text/css" height="1000px" id="svg2" viewBox="0 0 52.529 52.529" preserveAspectRatio="xMidYMid meet" version="1.0">
<defs id="defs6">
<clipPath id="clipPath18">
<path id="path20" d="M0 0h1486.77v420H0z"/>
</clipPath>
</defs>
<g id="layer2" transform="translate(0 .004)">
<path fill="#fcd205" stroke-width=".066" d="M0 52.525h52.529V-.004H0z" id="path22"/>
<path fill="#fff" stroke-width=".125" d="M25.456 38.682l1.466-5.891H5.487l-1.468 5.891h21.437" id="path24"/>
<path fill="#ed1c24" stroke-width=".11" d="M40.818 21.304s1.755-8.045 1.78-8.12H31.445c0 .05-2.306 10.676-2.306 10.727h2.858c.024 0 1.754-8.02 1.754-8.02h5.413s-1.704 8.044-1.754 8.095h8.245l-1.077 4.962H36.38c0 .05-1.653 7.569-1.653 7.569h-6.19c0 .024-.552 2.706-.576 2.731h9.121c0-.025 1.63-7.594 1.63-7.594h8.196c0-.025 2.155-10.3 2.155-10.35h-8.246" id="path26"/>
<path fill="#231f20" stroke-width=".092" d="M21.249 35.443l1.163-5.396h4.486l.54-2.646h-4.465l.686-3.312h4.713l.581-2.646h-7.786l-2.949 14z" id="path1640"/>
<path fill="#231f20" stroke-width=".092" d="M10.104 21.303l-2.973 14h3.015l.921-4.272h1.32c4.21 0 6.557-2.061 6.557-5.499 0-2.562-1.823-4.229-4.944-4.229zm2.472 2.564h1.257c1.383 0 2.051.562 2.051 1.875 0 1.687-1.067 2.728-3.035 2.728h-1.257z" id="path1638"/>
</g>
</svg>

    </span>
{% endblock %}
