{% block postfinancecheckout_settings_content_card_channel_config_credentials %}
	<sw-card
			class="sw-card"
			 :title="$tc('postfinancecheckout-settings.settingForm.credentials.cardTitle')"
			v-if="!isShowcase"
	>

		{% block postfinancecheckout_settings_content_card_channel_config_credentials_card_container %}
			<sw-container>

				{% block postfinancecheckout_settings_content_card_channel_config_credentials_card_container_settings %}
					<div v-if="actualConfigData" class="postfinancecheckout-settings-credentials-fields">

						{% block postfinancecheckout_settings_content_card_channel_config_credentials_card_container_settings_space_id %}
							<sw-inherit-wrapper
									v-model="actualConfigData[CONFIG_SPACE_ID]"
									:inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null'][CONFIG_SPACE_ID]"
									:customInheritationCheckFunction="checkNumberFieldInheritance">
								<template #content="props">
									<sw-number-field
											:name="CONFIG_SPACE_ID"
											:required="true"
											:mapInheritance="props"
											:label="$tc('postfinancecheckout-settings.settingForm.credentials.spaceId.label')"
											:helpText="$tc('postfinancecheckout-settings.settingForm.credentials.spaceId.tooltipText')"
											:disabled="props.isInherited"
											:value="props.currentValue"
											:error="spaceIdErrorState"
											@change="props.updateCurrentValue">
									</sw-number-field>
								</template>
							</sw-inherit-wrapper>
						{% endblock %}

						{% block postfinancecheckout_settings_content_card_channel_config_credentials_card_container_settings_user_id %}
							<sw-inherit-wrapper
									v-model="actualConfigData[CONFIG_USER_ID]"
									:inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null'][CONFIG_USER_ID]"
									:customInheritationCheckFunction="checkNumberFieldInheritance">
								<template #content="props">
									<sw-number-field
											:name="CONFIG_USER_ID"
											:required="true"
											:mapInheritance="props"
											:label="$tc('postfinancecheckout-settings.settingForm.credentials.userId.label')"
											:helpText="$tc('postfinancecheckout-settings.settingForm.credentials.userId.tooltipText')"
											:disabled="props.isInherited"
											:value="props.currentValue"
											:error="userIdErrorState"
											@change="props.updateCurrentValue">
									</sw-number-field>
								</template>
							</sw-inherit-wrapper>
						{% endblock %}

						{% block postfinancecheckout_settings_content_card_channel_config_credentials_card_container_settings_application_key %}
							<sw-inherit-wrapper
									v-model="actualConfigData[CONFIG_APPLICATION_KEY]"
									:inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null'][CONFIG_APPLICATION_KEY]"
									:customInheritationCheckFunction="checkTextFieldInheritance">
								<template #content="props">
									<sw-password-field
											:name="CONFIG_APPLICATION_KEY"
											:required="true"
											:passwordToggleAble="true"
											:mapInheritance="props"
											:label="$tc('postfinancecheckout-settings.settingForm.credentials.applicationKey.label')"
											:helpText="$tc('postfinancecheckout-settings.settingForm.credentials.applicationKey.tooltipText')"
											:disabled="props.isInherited"
											:value="props.currentValue"
											:error="applicationKeyErrorState"
											@change="props.updateCurrentValue">
									</sw-password-field>
								</template>
							</sw-inherit-wrapper>
						{% endblock %}
					</div>
				{% endblock %}
			</sw-container>
		{% endblock %}
	</sw-card>

{% endblock %}
