{% block weareplanet_settings_icon %}
    <span class="sw-icon icon--weareplanet-multicolor sw-icon--multicolor">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" contentScriptType="text/ecmascript" zoomAndPan="magnify" contentStyleType="text/css" id="Layer_1" style="enable-background:new 0 0 121.9 107.7;" version="1.1" width="1000px" xml:space="preserve" preserveAspectRatio="xMidYMid meet" viewBox="0 0 121.9 107.7" height="1000px" x="0px" y="0px">
<g>
	<path d="M81.2,15.4c-21.9,0-39.6,17.7-39.6,39.6v52.2h24.5V91.5c4.7,1.9,9.8,3,15.1,3c21.9,0,39.6-17.7,39.6-39.6   C120.8,33.1,103,15.4,81.2,15.4z M81.2,72.9c-9.9,0-18-8.1-18-18s8.1-18,18-18c9.9,0,18,8.1,18,18S91.1,72.9,81.2,72.9z"/>
	<ellipse rx="18" ry="18" cx="19.1" cy="18.6" transform="matrix(0.9871 -0.1602 0.1602 0.9871 -2.7307 3.301)"/>
</g>
</svg>

    </span>
{% endblock %}
