<div id="postfinancecheckout-payment-panel"
     class="postfinancecheckout-payment-panel"
     data-postfinancecheckout-checkout-plugin="true"
     data-id="{{ paymentMethodConfigurationId }}">
    <div id="postfinancecheckoutLoader"><div></div></div>
    <input value="false" type="hidden" name="postfinancecheckout_payment_handler_validation_status"
           form="confirmOrderForm">
    <div id="postfinancecheckout-payment-iframe"
         class="postfinancecheckout-payment-iframe"></div>
</div>
